<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Function</title>
  <link rel="icon" href="/images/tabLogo.png" type="image/png">
  <!-- Add Bootstrap CSS for styling consistency -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="/css/style2.css" rel="stylesheet">

  <style>
    body {
      background-image: url('images/moon-jellies.jpg');
      text-align: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: left;
    }
  </style>
</head>

<body>

  <main class="container">
    <form id="searchForm" action="/searchRequest" method="POST">
      <h1>Search</h1>
      <div class="form-row">
        <div class="form-column">

          <button type="button" onclick="allCruises()" class="button">All Cruises</button><br><br>

          <label for="shipName">Ship Name:</label>
          <select id="shipName" name="shipName">
            <option value="">Select</option>
            <% for(let i=0; i < ships.length; i++) { %>
              <option value="<%=ships[i].ship_name %>">
                <%=ships[i].ship_name%>
              </option>
              <% } %>
          </select>

          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate">

          <label for="singleDate">Single Date:</label>
          <input type="date" id="singleDate" name="singleDate">

          <label for="purpose">Purpose:</label>
          <input type="text" id="purpose" name="purpose">

          <label for="accomplishments">Accomplishments:</label>
          <input type="text" id="accomplishments" name="accomplishments">

          <label for="scientistComments">Scientist Comments:</label>
          <input type="text" id="scientistComments" name="scientistComments">

          <label for="chiefScientist">Principal Investigator:</label>
          <select id="principalInvestigator" name="principalInvestigator">
            <option value="">Select</option>
            <% for(let i=0; i < investigators.length; i++) { %>
              <option value="<%=investigators[i].user_ID %>">
                <%=investigators[i].first_name%>
                  <%=investigators[i].last_name%>
              </option>
              <% } %>
          </select>

          <label for="chiefScientist">Chief Scientist:</label>
          <select id="chiefScientist" name="chiefScientist">
            <option value="">Select</option>
            <% for(let i=0; i < scientists.length; i++) { %>
              <option value="<%=scientists[i].user_ID %>">
                <%=scientists[i].first_name%>
                  <%=scientists[i].last_name%>
              </option>
              <% } %>
          </select>
        </div>

        <div class="form-column">
          <button type="button" onclick="clearFields()" class="button">Clear All Fields</button><br><br>
          <label for="status">Status:</label>
          <select id="status" name="status">
            <option value="">Select</option>
            <option value="In_Progress">In Progress</option>
            <option value="completed">Completed</option>
            <option value="planned">Planned</option>
          </select>

          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate">

          <label for="diveNumber">Dive Number:</label>
          <input type="text" id="diveNumber" name="diveNumber">

          <label for="siteTrack">Site/Track:</label>
          <input type="text" id="siteTrack" name="siteTrack">

          <label for="operatorComments">Operator Comments:</label>
          <input type="text" id="operatorComments" name="operatorComments">

          <label for="participants">Participants:</label>
          <input type="text" id="participants" name="participants">

          <label for="yyyyddd">YYYYDDD:</label>
          <input type="text" id="yyyyddd" name="yyyyddd">

          <label for="dataComments">Data Comments:</label>
          <input type="text" id="dataComments" name="dataComments">
        </div>
      </div>

      <div class="button-container">
        <button type="submit" class="button">Search for Expeditions</button>
      </div>
    </form>
  </main>

  <footer>
    <p>Website is only for academic purposes. Capstone 2023© MBARI</p>
  </footer>


  <script>
    function clearFields() {
      // Clear all form fields
      document.getElementById("searchForm").reset();
    }
    function allCruises() {
      clearFields();
      document.getElementById("searchForm").submit();
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>